<template>
  <div class="section">
    <h1 class="title">Edit your profile</h1>

    <article class="message is-danger" v-if="emailError">
      <div class="message-body">
        An account with the same email already exists.
      </div>
    </article>

    <div class="field">
      <label class="label">E-mail</label>
      <div class="control">
        <input class="input" type="email" v-model="user.email">
      </div>
    </div>

    <article class="message is-danger" v-if="nameError">
      <div class="message-body">
        Usernames cannot contain spaces.
      </div>
    </article>
    <div class="field">
      <label class="label">User name</label>
      <div class="control">
        <input class="input" type="text" v-model="user.userName">
      </div>
    </div>

    <div class="field">
      <label class="label">Display name</label>
      <div class="control">
        <input class="input" type="text" v-model="user.displayName">
      </div>
    </div>

    <div class="field">
      <label class="label">Biography</label>
      <div class="control">
        <textarea v-model="user.bio" class="textarea" placeholder="Markdown is supported"></textarea>
      </div>
    </div>

    <div class="file has-name">
      <label class="file-label">
        <input class="file-input" type="file" ref="avatar" v-on:change="handleFileUpload">
        <span class="file-cta">
          <span class="file-label">
            Choose an avatar
          </span>
        </span>
        <span class="file-name" v-if="avatar">
          {{ avatar.name }}
        </span>
      </label>
    </div>

    <button class="button is-primary is-fullwidth" v-on:click="save">Save changes</button>

    <h2 class="title">
      Change your password
    </h2>

    <article class="message is-danger" v-if="passError">
      <div class="message-body">
        Your passwords are not the same.
      </div>
    </article>

    <div class="field">
      <label class="label">New password</label>
      <div class="control">
        <input class="input" type="password" v-model="password">
      </div>
    </div>

    <div class="field">
      <label class="label">New password confirmation</label>
      <div class="control">
        <input class="input" type="password" v-model="passwordConfirmation">
      </div>
    </div>

    <button class="button is-primary is-fullwidth" v-on:click="changePassword">Change your password</button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: function() {
    return {
      password: '',
      currentPassword: '',
      passwordConfirmation: '',
      emailError: false,
      passError: false,
      nameError: false,
      avatar: null,
    }
  },
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    handleFileUpload: function() {
      this.avatar = this.$refs.avatar.files[0];
    },
    save: async function() {
      this.nameError = this.user.userName.replace(' ', '').replace('\t', '') != this.user.userName
      if (this.nameError) {
        return
      }

      let avatarUrl = null
      if (this.avatar) {
        const data = new FormData();
        data.append('file', this.avatar)
        const res = (await this.axios.post('/upload', data)).data
        avatarUrl = res.url
      }

      if (avatarUrl) {
        this.user.avatarUrl = avatarUrl
      }
      this.user.password = null // avoid setting password to ''
      const res = await this.axios.put(`/api/v1/users/${this.user.ID}`, this.user)
      this.$store.commit('setUser', res.data)

      if (res.code === 400) {
        this.emailError = true
      } else {
        this.$router.push({ path: `/u/${this.user.userName}` })
      }
    },
    changePassword: async function() {
      this.passError = this.passwordConfirmation.length > 0 && this.password !== this.passwordConfirmation
      if (this.passError) {
        return
      }

      this.user.password = this.password
      await this.axios.put(`/api/v1/users/${this.user.ID}`, this.user)

      this.$router.push({ path: '/' })
    }
  }
}
</script>
