<template>
	<div>
    <header class="hero" v-if="project">
      <main class="hero-body">
        <h1 class="title">Edit {{ project.name }}</h1>
      </main>
    </header>
    <div class="section" v-if="project">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input v-model="project.name" class="input" type="text" placeholder="">
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea v-model="project.description" class="textarea" placeholder="Markdown is supported"></textarea>
        </div>
      </div>

      <div class="file has-name">
			  <label class="file-label">
			    <input class="file-input" type="file" ref="icon" v-on:change="handleFileUpload">
			    <span class="file-cta">
			      <span class="file-label">
			        Choose an icon
			      </span>
			    </span>
			    <span class="file-name" v-if="icon">
			      {{ icon.name }}
			    </span>
			  </label>
			</div>

      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" v-on:click="submit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	data: function() {
		return {
			icon: null,
		}
	},
	asyncData: {
		project: async function() {
			const id = this.$route.params.id
			return this.axios.get(`/api/v1/projects/${id}`)
		}
	},
	methods: {
		handleFileUpload: function() {
			this.icon = this.$refs.icon.files[0];
		},
		submit: async function() {
			let iconUrl = null
			if (this.icon) {
				const data = new FormData();
				data.append('file', this.icon)
				const res = (await this.axios.post('/upload', data)).data
				iconUrl = res.url
			}

			await this.axios.put(`/api/v1/projects/${this.project.ID}`, Object.assign(this.project, { iconUrl }))

			this.$router.push({ path: `/projects/${this.project.ID}` })
		}
	}
}
</script>
