<template>
  <div>
    <header class="hero">
      <main class="hero-body">
        <h1 class="title">Edit {{ task.title }}</h1>
      </main>
    </header>
    <div class="section">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input v-model="task.title" class="input" type="text" placeholder="">
        </div>
      </div>

      <div class="field">
        <label class="label">Time estimation, in minutes</label>
        <div class="control">
          <input v-model="task.timeEstimation" class="input" type="number" placeholder="">
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea v-model="task.description" class="textarea" placeholder="Markdown is supported"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" v-on:click="submit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  asyncData: {
    task: async function() {
      const id = this.$route.params.id
      return await this.axios.get(`/api/v1/tasks/${id}`)
    },
  },
  methods: {
    submit: async function() {
      const id = this.$route.params.id
      const res = await this.axios.put(`/api/v1/tasks/${id}`, this.task)
      this.$router.push({ path: `/tasks/${res.data.ID}` })
    }
  }
}
</script>
