<template>
  <div>
    <header class="hero is-medium">
      <main class="hero-body">
        <h1 class="title">Explore projects</h1>
      </main>
    </header>
    <div class="section">
      <div class="field has-addons">
        <div class="control" style="flex: 1">
          <input class="input" type="text" placeholder="Find a project" v-model="query">
        </div>
        <div class="control">
          <a :class="`button is-primary ${isSearching ? 'is-loading' : ''}`" v-on:click="search">
            Search
          </a>
        </div>
      </div>

      <div class="field">
        <div class="control" v-if="results !== null">
          <button class="button" v-on:click="clearSearch">Clear search</button>
        </div>
      </div>

      <div class="columns is-multiline" v-if="results === null && projects !== null">
        <project v-for="project in projects" :project="project"/>
      </div>
      <div class="columns is-multiline" v-else v-if="results !== null">
        <project v-for="project in results" :project="project"/>
      </div>
    </div>
  </div>
</template>

<script>
import ProjectCard from './ProjectCard'

export default {
  components: {
    project: ProjectCard,
  },
  data: function() {
    return {
      isSearching: false,
      results: null,
      query: ''
    }
  },
  asyncData: {
    projects: async function() {
      return this.axios.get('/api/v1/projects')
    }
  },
  methods: {
    clearSearch: function() {
      this.results = null
      this.query = ''
    },
    search: async function() {
      this.isSearching = true
      const res = await this.axios.get(`/api/projects/`) // TODO
      this.results = res.data
      this.isSearching = false
    }
  }
}
</script>
