<template>
  <div class="section">
    <h1 class="title">Login</h1>

    <article class="message is-danger" v-if="error">
      <div class="message-body">
        Sorry, but something went wrong. Check your credentials and try again.
      </div>
    </article>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" v-model="username">
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" v-model="password">
      </div>
    </div>

    <button class="button is-primary is-fullwidth" v-on:click="login">Login</button>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      error: false,
      username: '',
      password: '',
    }
  },
  methods: {
    login: async function() {
      const res = await this.axios.post('/api/v1/login', {
          userName: this.username,
          password: this.password,
        })
        this.$store.commit('setToken', res.data.token)

        this.$store.commit('setUser', (await this.axios.get(`/api/v1/users/${this.username}`)).data)
        const redirect = this.$route.query.redirect || '/'
        this.$router.push({ path: redirect })
    }
  }
}
</script>
