<template>
  <div>
    <header class="navbar has-shadow is-fixed-top">
      <div class="navbar-menu">
        <div class="navbar-brand">
          <router-link :to="{ path: '/' }" class="navbar-item">UserTest</router-link>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <div class="navbar-start">
          <router-link :to="{ path: '/explore' }" class="navbar-item">Explore</router-link>
        </div>
        <div class="navbar-end" v-if="loggedIn">
          <div class="navbar-item has-dropdown is-hoverable">
            <router-link :to="{ path: `/u/${user.userName}` }" class="navbar-link">
              {{ user.displayName }}
              <figure class="image is-64x64">
                <img class="is-rounded avatar" :src="user.avatarUrl">
              </figure>
            </router-link>
            <div class="navbar-dropdown is-right">
              <router-link :to="{ path: '/settings' }" class="navbar-item">Settings</router-link>
              <a class="navbar-item" v-on:click="logout">Log Out</a>
            </div>
          </div>
        </div>
        <div class="navbar-end" v-else>
          <router-link to="/register" class="navbar-item">Register</router-link>
          <router-link to="/login" class="navbar-item">Login</router-link>
        </div>
      </div>
    </header>
    <main class="container section" v-if="!this.$route.meta.fullWidth">
      <router-view class="column container"></router-view>
    </main>
    <router-view v-else></router-view>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>UserTest</strong> was made with 💚 on <a href="https://framagit.org/usertest/usertest">Framagit</a>.
        </p>
      </div>
    </footer>
  </div>
</template>

<style lang="scss">
.navbar-item img.avatar {
  max-height: none;
  margin: 8px;
  height: 48px !important;
  width: 48px !important;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'app',
  data () {
    return {
    }
  },
  methods: {
    logout: function() {
      this.$store.commit('logout')
      this.$router.push({ path: '/' })
    }
  },
  computed: {
    ...mapGetters([
      'loggedIn', 'user'
    ])
  }
}
</script>
