<template>
  <div class="content" v-html="md"></div>
</template>

<script>
import remark from 'remark'
import emoji from 'remark-gemoji-to-emoji'
import html from 'remark-html'

const md = remark().data('settings', { commonmark: true }).use(emoji).use(html)

export default {
  props: ['src'],
  data: function() {
    return {
      md: md.processSync(this.src).contents
    }
  }
}
</script>
