<template>
  <div>
    <section class="hero is-medium is-primary is-bold is-large">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome on UserTest
          </h1>
          <h2 class="subtitle">
            Discover how people are using your application, and how you can improve their experiences.
          </h2>
          <router-link to="/register" class="button">Create your account</router-link>
          <router-link to="/login" class="button">Login</router-link>
        </div>
      </div>
    </section>
    <section class="section container">
      <h1 class="title">
        How does it works?
      </h1>
      <p class="content">
        Anybody can register their project and create specific tasks to test. You can then choose
        one of those tasks, and record you (and your screen) while you try to achieve what is asked.
        You comment during the whole testing session, and the project maintainers can watch the video
        later, to see how you interacted with their application, what you find great about it, or on
        the contrary what was confusing or frustrating.
      </p>
      <p class="content">
        User tests are an easy way to contribute to projects you like when you don't have programming or design skills,
        or money. All you need is a bit of time and an internet connection!
      </p>
    </section>
  <div>
</template>
