<template>
  <div v-if="project$loading">
    <p>Loading…</p>
  </div>
  <div v-else>
    <div class="hero is-medium">
      <div class="hero-body">
        <div class="container home-hero">
          <figure class="image is-128x128">
            <img class="is-rounded avatar" :src="project.iconUrl">
          </figure>
          <h1 class="title">
            {{ project.name }}
          </h1>
          <md :src="project.description"></md>
          <router-link :to="{ path: `/projects/${this.project.ID}/edit` }" v-if="isOwner">
            Edit
          </router-link>
        </div>
      </div>
    </div>
    <hr/>

    <div class="section">
      <h1 class="title">
        Tasks
        <router-link :to="{ path: `/tasks/new/${this.project.ID}` }" title="Create a new task" v-if="isOwner">+</router-link>
      </h1>
      <div class="columns is-multiline" v-if="!tasks$loading">
        <div v-for="task in tasks" class="column is-one-third">
          <div class="card" v-on:click="loadTask(task.ID)">
            <header class="card-header">
              <h1 class="card-header-title">{{ task.title }}</h1>
            </header>
            <div class="card-content content">
              <md :src="task.description.split('\n').slice(0, 2).join('\n')"></md>
              <div class="tag is-light">Estimated time: {{ duration(task.timeEstimation, 'minutes').humanize() }}</div>
            </div>
            <div class="card-footer">
              <router-link :to="`/tasks/${task.ID}`" class="card-footer-item">
                Do this task
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h1 class="title">Contributors</h1>
      <div class="hero" v-if="project && contributors.lenght == 0">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              Nobody tested this project yet. Be the first to participate!
            </h1>
          </div>
        </div>
      </div>
      <div class="columns" v-else>
        <div v-for="contrib in contributors" class="column is-narrow has-text-centered" v-on:click="loadUser(contrib)">
          <figure class="image is-64x64">
            <img class="is-rounded avatar" :src="contrib.avatarUrl">
          </figure>
          <span>{{ contrib.displayName }}</span>
        </div>
      </div>
    </div>

    <div class="section">
      <h1 class="title">Maintainers</h1>
      <div class="hero" v-if="project && owners.lenght == 0">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              Looks like this project is orphan…
            </h1>
          </div>
        </div>
      </div>
      <div class="columns" v-else>
        <div v-for="owner in owners" class="column is-narrow has-text-centered" v-on:click="loadUser(owner)">
          <figure class="image is-64x64">
            <img class="is-rounded avatar" :src="owner.avatarUrl">
          </figure>
          <span>{{ owner.displayName }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.column.is-narrow.has-text-centered {
  cursor: pointer;
}
</style>

<script>
import { mapGetters } from 'vuex'
import Md from './Md.vue'
import moment from 'moment'

export default {
  components: {
    md: Md
  },
  asyncData: {
    project: async function() {
      const id = this.$route.params.id
      return await this.axios.get(`/api/v1/projects/${id}`)
    },
    tasks: async function() {
      const id = this.$route.params.id
      return await this.axios.get(`/api/v1/projects/${id}/tasks`)
    }
  },
  methods: {
    duration: moment.duration,
    loadUser: function(u) {
      this.$router.push({ path: `/u/${u.userName}` })
    },
    loadTask: function(id) {
      this.$router.push({ path: `/tasks/${id}` })
    }
  },
  computed: {
    ...mapGetters(['loggedIn', 'user']),
    isOwner: function() {
      return this.owners && this.owners.find(x => x.ID == this.user.ID)
    }
  },
  asyncComputed: {
    contributors: {
      get: function() {
        if (this.project) {
          return this.project.contributors
        } else {
          return []
        }
      },
      watch: function() {
        this.project$loading
      },
      debounce: 50,
    },
    owners: {
      get: function() {
        if (this.project) {
          return this.project.owners
        } else {
          return []
        }
      },
      watch: function() {
        this.project$loading
      },
      debounce: 50,
    }
  }
}
</script>
