<template>
	<div>
		<div v-if="loaded">
	    <header class="hero">
	      <div class="hero-body">
	        <h1 class="title">Test by {{ tester.displayName }} ({{ moment(test.CreatedAt).calendar() }}) <status :status="test.status"/></h1>
	        <video :src="videoUrl" controls></video>
	      </div>
	      <div class="buttons" v-if="test.canChangeStatus">
	      	<button v-if="test.status == 'toReview'" class="button is-primary is-fullwidth" v-on:click="setStatus('reviewed')">
	      		This test has been reviewed
	      	</button>
	      	<button v-if="test.status == 'reviewed'" class="button is-primary is-fullwidth" v-on:click="setStatus('handled')">
	      		All the issues found during this test are now fixed!
	      	</button>
	      	<button v-if="test.status == 'reviewed' || test.status == 'toReview'" class="button is-danger is-fullwidth" v-on:click="setStatus('closed')">
	      		Mark as closed, even if some issues that were found are not fixed.
	      	</button>
	      	<button v-if="test.status == 'closed'" class="button is-primary is-fullwidth" v-on:click="setStatus('toReview')">
	      		Re-open this discussion.
	      	</button>
	      </div>
	    </header>
	    <div class="section">
	    	<h1 class="title">Comments</h1>
	    	<div class="card comment" v-for="comment in test.comments">
				  <div class="card-content">
				    <div class="media">
				      <div class="media-left" v-on:click="loadUser((userInfo.find(u => u.ID == comment.user) || {}).userName)">
				        <figure class="image is-64x64">
				          <img :src="(userInfo.find(u => u.ID == comment.user) || {}).avatarUrl" alt="" class="is-rounded avatar">
				        </figure>
				      </div>
				      <div class="media-content" v-on:click="loadUser((userInfo.find(u => u.ID == comment.user) || {}).userName)">
				        <p class="title is-4">{{ (userInfo.find(u => u.ID == comment.user) || {}).displayName }}</p>
				        <p class="subtitle is-6">@{{ (userInfo.find(u => u.ID == comment.user) || {}).userName }}</p>
				      </div>
				    </div>

				    <div class="content">
				    	<md :src="comment.content"></md>
				      <p class="has-text-grey">
				      	<time :datetime="comment.CreatedAt">{{ moment(comment.CreatedAt).calendar() }}</time>
				      	<span v-if="comment.edited">&mdash; Edited</span>
				      	<template v-if="comment.user == user.ID">
				      		&mdash;
				      		<a v-on:click="editComment(comment)">Edit</a>
				      		&mdash;
				      		<a v-on:click="deleteComment(comment)">Delete</a>
				      	</template>
				      </p>
				    </div>
				  </div>
				</div>

				<div class="section" v-if="loggedIn">
					<h3 class="title">Add a comment</h3>
					<textarea ref="editor" class="textarea" placeholder="Markdown is supported" v-model="comm"></textarea>
					<button class="button is-primary is-fullwidth" v-on:click="comment">Send</button>
				</div>
				<div class="section" v-else>
					Please login if you want to take part to this discussion.
				</div>
	    </div>
    </div>
    <div v-else>
    	<header class="hero">
      <div class="hero-body">
        <p>Loading…</p>
      </div>
    </header>
    </div>
  </div>
</template>

<style>
.comment {
	cursor: default;

	.media {
		cursor: pointer;
	}
}

.comment .has-text-grey > * {
	display: inline;
}
</style>

<script>
import moment from 'moment'
import Md from './Md.vue'
import Status from './Status.vue'
import { mapGetters } from 'vuex'

export default {
	components: {
		md: Md,
		status: Status,
	},
	data: () => {
		return {
			test: null,
			tester: null,
			loaded: false,
			comm: '',
			userInfo: [],
			editing: null,
		}
	},
	mounted: async function() {
		const id = this.$route.params.id
		this.test = (await this.axios.get(`/api/v1/tests/${id}`)).data
		this.tester = (await this.axios.get(`/api/v1/users/${this.test.user}`)).data

		this.userInfo = (await Promise.all(this.test.comments
      .map(s => s.user)
      .filter((v, i, a) => a.indexOf(v) === i)
      .map(u => this.axios.get(`/api/v1/users/${u}`))
    )).map(u => u.data)
    this.loaded = true
	},
	methods: {
		moment,
		loadUser: function(u) {
			this.$router.push({ path: `/u/${u.userName}` })
		},
		setStatus: async function(status) {
			this.test.status = (await this.axios.put(`/api/v1/tests/${this.test.ID}`, { status })).data.status
		},
		comment: async function() {
			if (this.editing) {
				const comm = (await this.axios.put(`/api/v1/comments/${this.editing}`, {
					test: +this.$route.params.id,
					user: +this.user.ID,
					content: this.comm,
					edited: true,
				})).data

				this.test.comments.map(x => {
					if (x.ID == comm.ID) {
						comm
					} else {
						x
					}
				})
			} else {
				const comm = (await this.axios.post('/api/v1/comments', {
					test: +this.$route.params.id,
					user: +this.user.ID,
					content: this.comm,
					edited: false,
				})).data
				this.test.comments.push(comm)
				this.userInfo.push(this.user)
			}

			this.comm = ''
			this.editing = null
		},
		editComment: async function(comm) {
			this.editing = comm.ID
			this.comm = comm.content
			this.$refs.editor.focus()
		},
		deleteComment: async function(comm) {
			await this.axios.delete(`/api/v1/comments/${comm.ID}`)
			this.test.comments = this.test.comments.filter(x => x.ID != comm.ID)
		}
	},
	computed: {
		...mapGetters(['loggedIn', 'user']),
		videoUrl: function() {
			return `/media/${this.$route.params.id}.webm`
		}
	}
}
</script>
