$primary: #02c39a;
$warning: #f0f3bd;
$link: #05668d;
$info: #028090;

@import "~bulma/bulma";

body > div > aside.column {
  background: $background;

  .menu-list a:hover {
    background-color: white;
  }
}

.avatar {
	background: lighten($primary, 50%);
	padding: 1px;
}

.is-128x128 .avatar {
	height: 128px !important;
}

.is-64x64 .avatar {
	height: 64px !important;
}

.home-hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	.avatar {
		margin-bottom: 2em;
	}

	.title {
		margin-top: 1em;
	}
}
